body {
  background-color: gradient(to bottom right, rgba(0, 0, 0, 1), #ffffff);
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
